.chat-interface {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 90vw;
    flex:1;
    margin: 0 auto;
  }


.chunk-index {
    font-size: 0.8em;
    color: gray;
    margin-right: 0.5em;
}
  
.final-indicator {
    font-size: 0.8em;
    color: green;
    margin-left: 0.5em;
}